{% extends 'home/base.html' %} {% block content %}
<div class="col bg-dark">
  <div id="scroll" class="container-sm bg-dark text-white my-5 w-75">
    <div class="row text-left p-3">
      <div class="col">
        {% if user.is_authenticated %}
        <p><i>Howdy {{ request.user }} !</i></p>
        {% else %}
        <p><i>Howdy dear !</i></p>
        {% endif %}
      </div>
      <div class="col">
        <p id="userCount"></p>
      </div>
    </div>
    <div id="chat-messages" class="row">
      <h3>Real-time chat system</h3>
      <!-- EACH MESSAGE -->
    </div>
    <form>
      <div class="row p-4">
        <div class="col-10">
          <input type="text" class="form-control" placeholder="Message" , />
        </div>
        <div class="col-2">
          <button type="reset" class="btn btn-success">
            <i class="bi bi-send-fill"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
