{% extends 'home/base.html' %}
<!-- group title -->
{% block name %} {{ chat.user1.username }} and {{ chat.user2.username}}
<!-- endblock -->
{% endblock %}

<!-- block -->
{% block content %}
<div class="col bg-dark">
  <div id="scroll" class="container-sm bg-dark text-white my-5 w-75">
    <div class="row text-left p-3">
      <div class="col">{{ request.user }} home</div>
      <div class="col">
        <p id="userCount"></p>
      </div>
    </div>
    <div id="chat-messages" class="row">
      {% for message in messages reversed %}

      <!-- EACH MESSAGE -->
      {% if message.author == request.user %}
      <div>
        <div class="w-50 ms-auto">
          <div class="bg-success text-white rounded">
            <p id="chat" class="p-1">{{ message.body }}</p>
          </div>
        </div>
      </div>
      {% else %}

      <div>
        <span>{{ message.author }}</span>
        <div class="bg-info text-dark w-50 rounded">
          <p class="p-1">{{ message.body }}</p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <form method="POST">
      <div class="row p-4">
        {% csrf_token %}
        <div class="col-10">
          <input
            type="text"
            class="form-control"
            placeholder="Message"
            ,
            id="message-input"
          />
        </div>
        <div class="col-2">
          <button id="privateSend" type="submit" class="btn btn-success">
            <i class="bi bi-send-fill"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ chat.user2.id|json_script:'user2_id' }}

<!-- userid -->
{{ chat.user1.id|json_script:'user1_id' }}
<!-- username -->
{{ request.user.username|json_script:'json-username' }}

<!-- To clear public chat errors  -->
<!-- room -->
{{ room|json_script:'json-room' }} {% endblock %}
