{% extends 'home/base.html' %} {% block content %}
<div class="col p-5 bg-dark text-white">
  <div class="container">
    <h1 class="my-4">Login</h1>
    <!-- FORM ERRORS -->
    {% if form.errors %}
    <div class="alert alert-warning my-3" role="alert">
      <ul>
        {% for field, errors in form.errors.items %} {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %} {% endfor %}
      </ul>
    </div>
    {% endif %}

    <form action="" method="POST">
      {% load widget_tweaks %} {% csrf_token %}
      <div class="row">
        <div class="col">
          <label class="form-label">Username</label>
          {{ form.username |add_class:"form-control" }}
        </div>
        <div class="col">
          <label class="form-label">Password</label>
          {{ form.password |add_class:'form-control' }}
        </div>
      </div>
      <button type="submit" class="btn btn-success mt-4">Login</button>
    </form>
  </div>
</div>
{% endblock %}
