{% extends 'users/register.html' %} {% block content %}
<div class="header">
  <h1>WhatsApp Login</h1>
</div>
<div class="container">
  <form action="" method="POST">
    {% load widget_tweaks %} {% csrf_token %}
    <div class="input-group">
      <label for="phone">Username:</label>
      {{ form.username | attr:"placeholder:Username" }}
    </div>
    <div class="input-group">
      <label for="code">Password:</label>
      {{ form.password | attr:"placeholder:Password" }}
    </div>
    <button class="btn-login" type="submit"">Login</button>
    <a href=" {% url 'register' %}" class=" btn-download">Register</a>
  </form>

</div>
<div class=" footer">
  <p>© 2024 WhatsApp Inc.</p>
</div>

{% endblock %}