{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsApp Login</title>
  <link rel="stylesheet" href="{% static 'users/main.css' %}">
</head>

<body>
  {% block content %}
  <div class="header">
    <h1>WhatsApp Register</h1>
  </div>
  <div class="container">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="input-group">
        <label for="phone">Username:</label>
        {{ form.username }}
      </div>
      <div class="input-group">
        <label for="code">Email:</label>
        {{ form.email }}
      </div>
      <div class="input-group">
        <label for="code">First Name:</label>
        {{ form.first_name }}
      </div>
      <div class="input-group">
        <label for="code">Password:</label>
        {{ form.password1 }}
      </div>
      <div class="input-group">
        <label for="code">Confirm Password:</label>
        {{ form.password2 }}
      </div>
      <button class="btn-login" type="submit"">Register</button>
  </form>
  
</div>
<div class=" footer">
        <p>© 2024 WhatsApp Inc.</p>
  </div>
  {% endblock %}
</body>

</html>





<!-- FORM ERRORS -->
<!-- {% if form.errors %}
    <div class=" alert alert-warning my-3" role="alert">
        <ul>
          {% for field, errors in form.errors.items %} {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
  </div>
  {% endif %} -->